*, *::after, *::before{
    box-sizing: border-box;
}

:root {
    --hue: 200;
    --saturation: 50%;
    --foreground-color: hsl(var(--hue), var(--saturation), 75%);
    --background-color: hsl(var(--hue), var(--saturation), 20%);
}

body {
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
}

.paddle {
    --position: 50;

    position: absolute;
    background-color: var(--foreground-color);
    left: calc(var(--position) * 1vw);
    bottom: 1vh;
    transform: translateX(-50%);
    width: 10vh;
    height: 1vh;
}

.ball {
    --x: 50;
    --y: 50;

    position: absolute;
    background-color: var(--foreground-color);
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 2.5vh;
    height: 2.5vh;
}



.bricks {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem;
}

.brick-row {
    display: flex;
    gap: 0.5rem;
}

.brick {
    background-color: var(--foreground-color);
    flex: 1;
    height: 3vh;
}